<h1>{{ title }}</h1>

<ul>
  <p *ngIf="todos.length == 0"><small>Você não tem nenhuma tarefa hoje</small></p>
  <li *ngFor="let todo of todos">{{ todo.id }}. {{ todo.task }} - 
    <button *ngIf="!todo.done" (click)="markAsDone(todo)">Concluir</button> |
    <button *ngIf="todo.done" (click)="masAsUndone(todo)">Refazer</button> |
    <button (click)="remove(todo)">Remover</button>
  </li>
</ul>

<form [formGroup]="form">
  <fieldset>
    <label>Tarefa: </label>
    <input type="text" placeholder="Titulo da tarefa" maxlength="55" formControlName="title">
    <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine">Esse campo deve conter entre 3 e 55 catacteres</small>
    <button [disabled]="form.invalid" (click)="add()">Salvar</button>
  </fieldset>
</form>